        *,
         ::before,
         ::after {
            box-sizing: border-box;
        }
        
        a,
        a:hover,
        a:active {
            text-decoration: none !important;
            color: inherit;
        }
        
        ul {
            list-style-type: none;
            padding-inline-start: 0;
        }
        
        .pd-6 {
            padding: 6rem 0;
        }
        
        .bolder-weight {
            font-weight: 700;
        }
        
        .brand-logo {
            width: 150px;
            height: auto;
        }
        
        .brand-logo img {
            width: 150px;
            height: auto;
        }
        
        .brand-color {
            color: #FFBB00;
        }
        
        .gray-color {
            color: #888;
        }
        
        .my-btn a {
            color: inherit;
            font-weight: 500;
        }
        
        .my-btn {
            color: #fff;
            padding: 11px 40px;
            background-color: transparent;
            border: 2px solid #fff;
            outline-color: #fff;
            box-shadow: none;
            border-radius: 30px;
        }
        
        .my-btn:hover,
        .my-btn:active,
        .my-btn:visited,
        .my-btn:focus {
            color: #fff;
            background-color: #FFBB00;
            border-color: #FFBB00;
            outline-color: #FFBB00;
            box-shadow: none;
            border-radius: 30px;
        }
        
        .my-btn-reverse a {
            color: inherit;
            font-weight: 500;
        }
        
        .my-btn-reverse {
            color: #fff;
            padding: 11px 40px;
            background-color: #FFBB00;
            border: 2px solid #FFBB00;
            outline-color: #FFBB00;
            box-shadow: none;
            border-radius: 30px;
        }
        
        .my-btn-reverse:hover,
        .my-btn-reverse:active,
        .my-btn-reverse:visited,
        .my-btn-reverse:focus {
            color: #FFBB00;
            background-color: transparent;
            box-shadow: none;
            border-radius: 30px;
        }
        
        .border-5 {
            border-radius: 5px !important;
        }
        
        header,
        body,
        footer {
            font-family: 'Poppins';
        }
        
        header {
            padding: 1.5rem 1rem;
            z-index: 999;
            width: 100%;
        }
        
        .hiden {
            display: none;
        }
        
        .showon {
            display: flex;
        }
        
        .transparent-header {
            position: absolute;
            background: transparent;
            top: 0;
            transition: .5s;
        }
        
        .sticky-header {
            position: fixed !important;
            background: #fff;
            width: 100%!important;
            z-index: 99999!important;
            top: 0;
            transition: .5s;
        }
        
        .navbar-brand .black-logo {
            display: none;
        }
        
        .nav-expand ul {
            display: flex;
            list-style-type: none;
            color: #fff;
            align-items: center;
            margin: unset !important
        }
        
        .nav-expand ul li a {
            color: inherit;
        }
        
        .nav-expand ul li a:hover {
            color: #FFBB00;
            background: none;
        }
        
        .nav-drop svg {
            width: 13px;
            height: 13px;
        }
        
        .nav-expand .nav-link {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        
        .nav-expand .dropdown:hover .dropdown-menu {
            display: block;
        }
        
        .nav-expand .dropdown .dropdown-menu {
            border-top: 3px solid #FFBB00;
            border-radius: 10px;
        }
        
        .nav-expand .dropdown-menu a {
            color: #000;
        }
        
        .nav-expand .dropdown-item {
            border-bottom: 1px solid rgba(0, 0, 0, .08);
        }
        
        .nav-expand .dropdown-item:last-of-type {
            border-bottom: none;
        }
        
        #cart svg {
            color: #fff;
            width: 17px;
        }
        
        .nav-expand .dropdown .dropdown-menu {
            border-top: 3px solid #FFBB00;
            border-radius: 10px;
        }
        
        #sign-in {
            background-color: #FFBB00;
            border: 1px solid #FFBB00;
            border-right: 1px solid rgba(0, 0, 0, .08);
            border-radius: 30px 0 0 30px;
            font-size: 10px;
            line-height: 1;
        }
        
        #sign-up {
            background-color: #FFBB00;
            border: 1px solid #FFBB00;
            border-left: 1px solid rgba(0, 0, 0, .08);
            border-radius: 0 30px 30px 0;
            font-size: 10px;
            line-height: 1;
        }
        /* */
        
        .sticky-header .nav-expand ul {
            color: #000;
        }
        
        .sticky-header .nav-expand ul li a:hover {
            color: #6600FF;
            background: none;
        }
        
        .sticky-header #cart svg {
            color: #000;
        }
        
        .sticky-header #sign-in,
        .sticky-header #sign-up {
            background-color: #6600FF;
            border: 1px solid #6600FF;
            color: #fff;
        }
        
        .sticky-header .nav-expand .dropdown .dropdown-menu {
            border-top: 3px solid #6600FF;
        }
        /* MOBILE MENU */
        
        .menu-mobile-active {
            position: absolute !important;
            top: -100%;
            transition: .3s;
        }
        
        .navbar-collapse {
            /* display: none; */
            position: fixed;
            top: 0;
            left: 0;
            width: 50vw;
            height: 100vh;
            background-color: #000;
            z-index: 9999;
        }
        
        .navbar-collapse .nav-link {
            padding-left: 0;
            padding-right: 0;
        }
        
        .navbar-collapse .mobile-top-menu .nav-link {
            padding-left: 0;
            padding-right: 0;
            color: #000;
            border-bottom: 1px solid #eaeaea;
        }
        
        .navbar-collapse .mobile-top-menu .nav-link:last-of-type {
            border-bottom: none;
        }
        
        .navbar-collapse .nav-link svg {
            color: inherit;
            width: 25px;
            height: 16px;
        }
        
        .navbar-collapse .nav-link:hover,
        .navbar-collapse .nav-link:active,
        .navbar-collapse .nav-link:focus {
            color: #FFBB00;
        }
        
        .navbar-collapse .dropdown-menu {
            position: relative;
            float: none;
            border: none;
        }
        
        .navbar-collapse .dropdown-item:hover,
        .navbar-collapse .dropdown-item:active,
        .navbar-collapse .dropdown-item:focus {
            background-color: unset;
            color: #FFBB00;
        }
        
        .nav-collapse-header {
            background-color: #fff;
            padding: 30px;
        }
        
        .mobile-top-menu {
            background-color: #fff;
            padding: 0 30px 15px;
        }
        
        .mobile-bot-menu {
            color: #fff;
            background-color: #000;
            padding: 0 30px;
        }
        
        .mobile-bot-menu #cart svg {
            color: #fff;
        }
        
        #mobile-login a {
            width: 50%;
            text-align: center;
            background-color: #FFBB00;
            border: 1px solid #FFBB00;
            outline-color: transparent;
            margin-top: 1rem;
        }
        
        #mobile-login a:first-child {
            border-radius: 5px 0 0 5px;
        }
        
        #mobile-login a:last-child {
            border-radius: 0 5px 5px 0;
        }
        /* MAIN */
        
        .banner {
            position: relative;
            background: rgba(0, 0, 0, .4) no-repeat;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }
        
        .banner-main-bg {
            position: absolute;
            background: url(../images/breadcrumbs-bg.jpg) center no-repeat;
            width: 100vw;
            height: 100vh;
            background-size: cover;
            top: 0;
            width: 100%;
            z-index: -1;
        }
        
        .banner-sub-bg {
            position: absolute;
            bottom: 0;
        }
        
        .banner-sub-bg svg {
            width: 100vw;
            height: 100%;
        }
        
        .banner-main-content {
            position: relative;
        }
        
        .banner-bg-content {
            font-size: 150px;
            opacity: 0.15;
            margin-bottom: 0 !important;
            font-weight: 700;
            line-height: 1;
        }
        
        .banner-front-content {
            position: absolute;
            font-size: 90px;
            font-weight: 700;
            /* line-height: 1.2; */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
        }
        
        .banner-sub-content {
            font-size: 14px;
            margin: 3rem 0;
        }
        
        .banner-event-counter .count-num {
            font-size: 50px;
            line-height: 1;
            margin-bottom: 1rem;
        }
        
        .banner-event-counter .count-title {
            font-size: 13px;
            line-height: 1;
        }
        
        .day-count,
        .hour-count,
        .min-count {
            padding-right: 2rem;
            margin-right: 2rem;
            border-right: 1px solid rgba(255, 255, 255, .3);
        }
        
        .banner-button {
            margin-top: 3rem;
        }
        
        .banner-button button {
            margin: 0 1rem;
        }
        
        .event-date,
        .event-locate,
        .event-place {
            position: relative;
        }
        
        .event-date::before {
            position: absolute;
            content: '';
            background: url(../images/icon/calendar.png) center no-repeat;
            width: 24px;
            height: 24px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        
        .event-locate::before {
            position: absolute;
            content: '';
            background: url(../images/icon/location.png) center no-repeat;
            width: 24px;
            height: 24px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        
        .event-place::before {
            position: absolute;
            content: '';
            background: url(../images/icon/map.png) center no-repeat;
            width: 24px;
            height: 24px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        
        .gray-icon svg {
            width: 23px;
            color: #333;
            opacity: .15;
        }
        
        .gray-icon {
            position: relative;
        }
        
        .gray-icon::before {
            content: '';
            display: block;
            position: absolute;
            background: #333 center;
            opacity: .15;
            width: 125px;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
            left: -140px;
        }
        
        .gray-icon::after {
            content: '';
            display: block;
            position: absolute;
            background: #333 center;
            opacity: .15;
            width: 125px;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
            left: 32px;
        }
        
        .concert-features {
            margin-top: 5rem;
        }
        
        .concert-features-item {
            width: 23%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 2rem;
        }
        
        .concert-features-title {
            font-size: 18px;
            font-weight: 700;
            color: #FFBB00;
            margin: 1.5rem 0 1rem;
        }
        
        .concert-features-info {
            font-size: 14px;
            color: #888;
        }
        
        .my-icon {
            background-color: #fff;
            border: 1px solid #FFBB00;
            border-radius: 50%;
            width: 115px;
            height: 115px;
            position: relative;
        }
        
        .my-icon svg {
            position: absolute;
            width: 40px;
            height: 40px;
            color: #FFBB00;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .my-icon:hover {
            background-color: #FFBB00;
            border: none;
        }
        
        .my-icon:hover svg {
            color: #fff;
        }
        /* */
        
        .singer-list {
            margin-top: 5rem;
        }
        
        .singer-list-item {
            width: 32%;
            margin-top: 2rem;
            box-shadow: 0 0 30px rgb(0 0 0 / 10%);
        }
        
        .singer-list-item-img {
            position: relative;
        }
        
        .singer-list-item-img img {
            border-radius: 10px 10px 0 0;
        }
        
        .singer-list-item-img::before {
            content: '';
            display: block;
            background: rgba(0, 0, 0, .1);
            border-radius: 10px 10px 0 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .singer-list-item:hover .singer-list-item-img::before {
            opacity: 1;
        }
        /* .singer-list-item-img .img-overlay {
        width: 100%;
        height: 100%;
        background: r;
    } */
        
        .singer-list-item-info {
            padding: 1rem;
            font-size: 12px;
            background-color: #fff;
        }
        
        .singer-list-item-info h1 {
            font-size: 22px;
        }
        
        .singer-list-item-info h1:hover {
            color: #FFBB00 !important;
        }
        
        .singer-social-link i {
            margin-right: 15px;
            font-size: 15px;
        }
        
        .singer-social-link i:hover {
            color: #FFBB00;
        }
        
        .grid-cat {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 30px;
            margin-top: 5rem;
        }
        
        .grid-cat-item {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(2, 0, 5, 0) 2%, rgba(82, 17, 180, 0.5) 100%);
            overflow: hidden;
            width: 32%;
            height: 208px;
            position: relative;
            border-radius: 5px;
        }
        
        .grid-cat-item-img {
            z-index: -999;
        }
        
        .grid-cat-item-img img {
            width: 100%;
            /* height: 208px; */
        }
        
        .grid-cat-item-img {
            width: 100%;
            height: 208px;
            z-index: -2;
            position: absolute;
            top: 0;
        }
        
        #cat-1 .grid-cat-item-img {
            background: url(../images/event-20.jpg) center no-repeat;
            background-size: cover;
        }
        
        #cat-2 .grid-cat-item-img {
            background: url(../images/event-4.jpg) center no-repeat;
            background-size: cover;
        }
        
        #cat-3 .grid-cat-item-img {
            background: url(../images/event-14.jpg) center no-repeat;
            background-size: cover;
        }
        
        #cat-4 .grid-cat-item-img {
            background: url(../images/wedding-5.jpg) center no-repeat;
            background-size: cover;
        }
        
        #cat-5 .grid-cat-item-img {
            background: url(../images/speaker-photos-5.jpg) center no-repeat;
            background-size: cover;
        }
        
        #cat-6 .grid-cat-item-img {
            background: url(../images/event-3.jpg) center no-repeat;
            background-size: cover;
        }
        
        .grid-cat-item-content {
            display: block;
            padding: 10px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .3);
        }
        
        .grid-cat-item-content div {
            display: block;
            font-size: 30px;
            font-weight: 500;
            line-height: 1.7;
            border: 1px dashed #fff;
            border-radius: 5px;
            padding: 57px;
            color: #fff;
            text-align: center;
        }
        
        .grid-cat-item-content div span {
            display: block;
            margin-bottom: -15px;
        }
        
        .grid-cat-item-content div span:last-of-type {
            font-weight: 700;
        }
        
        .grid-cat-item-content:hover {
            background: none;
        }
        
        .schedule {
            margin-top: 5rem;
        }
        
        .schedule-show {
            margin-top: 4rem;
        }
        
        .btn-schedule {
            color: #888;
            font-weight: 500;
            width: 90px;
        }
        
        .btn-schedule:hover {
            color: #333;
        }
        
        .btn-schedule:focus {
            box-shadow: none;
        }
        
        .btn-schedule-active {
            color: #333;
        }
        
        .schedule-info {
            display: none;
            transition: .4s;
        }
        
        .schedule-active {
            display: block;
            transition: .4s;
        }
        
        .schedule-info-item>div,
        .schedule-info-item-reverse>div {
            width: 40%;
            margin: 0 2rem;
        }
        
        .schedule-info-item-content {
            padding: 30px;
            border-left: 4px solid #FFBB00;
            border-radius: 5px;
            box-shadow: 0 0 30px rgb(0 0 0 / 10%);
        }
        
        .schedule-info-item-reverse .schedule-info-item-content {
            border-left: none;
            border-right: 4px solid #FFBB00;
        }
        
        .schedule-info-item-content-title {
            font-size: 18px;
            font-weight: 600;
            color: #333;
            margin-bottom: 1rem;
        }
        
        .schedule-info-item-content-sub {
            font-size: 14px;
            color: #888;
            margin-bottom: 2rem;
        }
        
        .schedule-info-item-content-host {
            color: #333;
            font-size: 14px;
        }
        
        .schedule-info-item-content-host div:first-child {
            font-weight: 600;
            margin-right: 1rem;
        }
        
        .schedule-info-item-content-host a {
            color: #333;
            font-weight: 500;
            margin-right: 1rem;
        }
        
        .schedule-info-item-content-host a:hover {
            color: #FFBB00;
        }
        
        .schedule-info-item-content-host a img {
            width: 20px;
            height: auto;
            border-radius: 50%;
        }
        
        .schedule-info-item-date {
            margin: 0 1rem;
        }
        
        .schedule-info-item-info img {
            width: 35px;
            height: auto;
            border-radius: 50%;
        }
        
        .concert-venue {
            background: url(../images/section-2.jpg) center no-repeat;
            background-size: cover;
            width: 100%;
            height: auto;
            background-attachment: fixed;
        }
        
        .concert-venue-content div:last-of-type {
            margin-top: 8rem;
        }
        
        .ticket-features div {
            font-size: 13px;
            color: #888;
        }
        
        .buy-ticket .container .ticket-list {
            margin-top: 4rem;
            row-gap: 30px;
        }
        
        .ticket-item {
            width: 23%;
            padding: 2rem 0;
            box-shadow: 0 0 30px rgb(0 0 0 / 10%);
            border-radius: 5px;
        }
        
        .ticket-item-highlight {
            border: 1px solid #FFBB00;
        }
        
        .ticket-type {
            font-size: 16px;
        }
        
        .ticket-price {
            font-size: 39px;
            margin-bottom: 1rem;
        }
        
        .ticket-features div {
            margin-bottom: 0.5rem;
        }
        
        .ticket-features div::before {
            content: "\f058";
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: inherit;
            text-rendering: auto;
            margin-right: 10px;
            color: #FFBB00;
        }
        
        .ticket-item button {
            width: 205px;
            border-radius: 5px;
        }
        
        .ticket-item button:hover {
            border-radius: 5px;
        }
        
        .ticket-quantity {
            color: #888;
            margin-top: 1.5rem;
        }
        
        .ticket-quantity button {
            border: 1px solid #888;
            color: #888;
        }
        
        .ticket-quantity button div:last-of-type:after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }
        
        .ticket-quantity button:focus {
            box-shadow: none;
        }
        
        .ticket-quantity .dropdown-item {
            color: #888;
        }
        
        .ticket-quantity .dropdown-item:hover {
            color: #FFBB00;
            background: none;
        }
        
        .ticket-quantity .quantity-label {
            color: #FFBB00;
        }
        
        .ticket-quantity .quantity-label::after {
            font-family: Font Awesome\ 5 Free;
            font-weight: 900;
            content: "\f13d";
            float: right;
        }
        
        .newsletter {
            background: url(../images/section-1.JPG) center no-repeat;
            background-size: cover;
            width: 100%;
            height: auto;
            background-attachment: fixed;
        }
        
        .newsletter form {
            margin-top: 6rem;
        }
        
        .newsletter .form-write button {
            padding: 13px 25px;
            height: 50px;
            width: 300px;
        }
        
        .newsletter .form-write input {
            background: transparent;
            color: #fff;
            border-color: #fff;
            padding: 13px 25px;
            font-size: 13px;
            height: 50px;
            width: 300px;
            margin-right: 30px;
        }
        
        .newsletter form input::placeholder {
            color: #fff;
        }
        
        .newsletter form .form-check input {
            width: 0;
            height: 0;
        }
        
        .newsletter form .my-checkbox {
            position: absolute;
            top: 3px;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: transparent;
            border: 1px solid #fff;
        }
        
        .newsletter form .my-checkbox:after {
            content: "";
            position: absolute;
            display: none;
            animation: fade 0.5s linear;
        }
        
        .newsletter form .my-checkbox:after {
            left: 7px;
            top: -6px;
            width: 6px;
            height: 16px;
            border: solid white;
            border-width: 0px 2px 2px 0;
            -webkit-transform: rotate( 45deg);
            -ms-transform: rotate(45deg);
            transform: rotate( 45deg);
        }
        
        .form-check input:checked~.my-checkbox:after {
            display: block;
        }
        
        .mini-cat-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 15px;
        }
        
        .mini-cat-list div {
            background-color: #EAEAEA;
            color: #888;
            font-size: 14px;
            margin: 0 5px;
            padding: 5px 10px;
        }
        
        .mini-cat-list div:first-of-type {
            margin-left: 0;
        }
        
        .mini-cat-list div:last-of-type {
            margin-right: 0;
        }
        
        .mini-cat-list div:hover {
            background-color: #FFBB00;
            color: #fff;
        }
        
        .sponsors-grid {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 30px 30px;
            margin-top: 4rem;
        }
        
        .sponsors-grid-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 15px;
            box-shadow: 0 0 30px rgb(0 0 0 / 10%);
            border-radius: 5px;
        }
        
        .product-counter {
            background: url(../images/section-3.jpg) center no-repeat;
            width: 100%;
            height: auto;
            background-size: cover;
            background-attachment: fixed;
        }
        
        .count-number {
            width: 115px;
            height: 115px;
            border: 2px solid #fff;
            border-radius: 50%;
            font-size: 27px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .count-text {
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            margin-top: 1.5rem;
        }
        
        .gallery-grid {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            margin-top: 4rem;
        }
        
        .img-popup {
            cursor: pointer;
            transition: 0.3s;
        }
        /* The Modal (background) */
        
        .modal {
            display: none;
            position: fixed;
            z-index: 999999;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.6);
        }
        /* Modal Content (Image) */
        
        .modal-content {
            margin: auto;
            display: block;
            max-width: 35%;
            height: auto;
        }
        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }
        /* Add Animation - Zoom in the Modal */
        
        .modal-content,
        #caption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }
        
        @keyframes zoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }
        /* The Close Button */
        
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }
        
        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
        
        .post-item {
            width: 49%;
            margin-top: 5rem;
        }
        
        .post-img {
            position: relative;
        }
        
        .post-img img {
            border-radius: 10px;
        }
        
        .post-label-tag {
            position: absolute;
            background-color: #fff;
            border-radius: 20px;
            color: #FFBB00;
            font-weight: 500;
            font-size: 16px;
            padding: 5px 10px;
            left: 1.5rem;
            bottom: 1.5rem;
        }
        
        .post-item h1 {
            font-size: 20px;
            color: #333;
            font-weight: 600;
            margin-top: 1rem;
        }
        
        .post-item h1:hover {
            color: #FFBB00;
        }
        
        .post-content {
            font-size: 16px;
            color: #888;
            margin-top: 1rem;
        }
        
        .post-date,
        .post-comment {
            position: relative;
            color: #333;
            margin-left: 25px;
            font-size: 13px;
            margin-right: 1rem;
        }
        
        .post-date::before {
            position: absolute;
            display: block;
            content: '';
            background: url(../images/icon/calendar-16.png) no-repeat;
            width: 16px;
            height: 16px;
            top: 50%;
            left: -25px;
            transform: translateY(-50%);
        }
        
        .post-comment::before {
            position: absolute;
            display: block;
            content: '';
            background: url(../images/icon/speech-bubble-16.png) no-repeat;
            width: 16px;
            height: 16px;
            top: 50%;
            left: -25px;
            transform: translateY(-50%);
        }
        
        .contact-us form {
            width: 60%;
            margin-top: 4rem;
        }
        
        .contact-us form input:focus,
        .contact-us form textarea:focus {
            outline: rgba(51, 51, 51, .15);
            border-color: rgba(51, 51, 51, .15);
            box-shadow: none;
        }
        
        .contact-us form input::placeholder,
        .contact-us form textarea::placeholder {
            font-size: 13px;
        }
        
        .contact-us form button {
            border-radius: 10px;
        }
        
        .contact-us form button:hover {
            border-radius: 10px;
        }
        
        .contact-us form .form-check input {
            width: 0;
            height: 0;
        }
        
        .contact-us form .my-checkbox {
            position: absolute;
            top: 3px;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: transparent;
            border: 1px solid rgba(51, 51, 51, .15);
        }
        
        .contact-us form .my-checkbox:after {
            content: "";
            position: absolute;
            display: none;
            animation: fade 0.5s linear;
        }
        
        .contact-us form .my-checkbox:after {
            left: 7px;
            top: -6px;
            width: 6px;
            height: 16px;
            border: solid #333;
            border-width: 0px 2px 2px 0;
            -webkit-transform: rotate( 45deg);
            -ms-transform: rotate(45deg);
            transform: rotate( 45deg);
        }
        
        .form-check input:checked~.my-checkbox:after {
            display: block;
        }
        
        #map {
            height: 100vh;
            /* The height is 400 pixels */
            width: 100vw;
            /* The width is the width of the web page */
        }
        /* FOOTER */
        
        footer {
            background: url(../images/footer-style-1.jpg) center no-repeat;
            background-size: cover;
            width: 100%;
            height: auto;
            color: #fff;
        }
        
        footer h1 {
            font-size: 20px;
            margin-bottom: 2rem;
        }
        
        .contact-info,
        .lastest-posts,
        .application-product {
            width: 33%;
        }
        
        .contact-info-address,
        .contact-info-mail,
        .contact-info-tel,
        .contact-info-fax {
            position: relative;
            color: #fff;
            margin-bottom: 1rem;
            margin-left: 30px;
        }
        
        .contact-info-address::before {
            content: '';
            background: url(../images/icon/location-16.png) no-repeat;
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 50%;
            left: -30px;
            transform: translateY(-50%);
        }
        
        .contact-info-mail::before {
            content: '';
            background: url(../images/icon/mail-16.png) no-repeat;
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 50%;
            left: -30px;
            transform: translateY(-50%);
        }
        
        .contact-info-tel::before {
            content: '';
            background: url(../images/icon/telephone-16.png) no-repeat;
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 50%;
            left: -30px;
            transform: translateY(-50%);
        }
        
        .contact-info-fax::before {
            content: '';
            background: url(../images/icon/fax-16.png) no-repeat;
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 50%;
            left: -30px;
            transform: translateY(-50%);
        }
        
        .contact-info-social-link a {
            width: 40px;
            height: 40px;
            background-color: #FFBB00;
            border-radius: 50%;
            position: relative;
            margin-right: 5px;
        }
        
        .contact-info-social-link a:hover {
            background-color: #fff;
        }
        
        .contact-info-social-link a:hover i {
            color: #FFBB00;
        }
        
        .contact-info-social-link i {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .lastest-posts img {
            width: 65px;
            height: auto;
            border-radius: 5px;
        }
        
        .lastest-post-content {
            margin-left: 1rem;
        }
        
        .lastest-post-title {
            font-size: 16px;
            font-weight: 700;
        }
        
        .lastest-post-puslish-date {
            position: relative;
            font-size: 14px;
            margin-left: 25px;
        }
        
        .lastest-post-puslish-date::before {
            content: '';
            background: url(../images/icon/calendar-16.png) no-repeat;
            width: 16px;
            height: 16px;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -25px;
        }
        
        .application-product>div {
            font-size: 14px;
        }
        
        .app-box {
            row-gap: 15px;
        }
        
        .app-box>div {
            font-size: 12px;
            width: 48%;
        }
        
        .app-box>div a {
            width: 100%;
            padding: 1rem;
            border: 1px solid #333;
            border-radius: 5px;
            background: transparent;
        }
        
        .app-box>div a:hover {
            border-color: #FFBB00;
            background: #FFBB00;
        }
        
        .app-box svg {
            width: 25px;
        }
        
        .footer-copyright {
            border-top: 1px solid #333;
            padding: 2rem 0;
        }
        
        @media screen and (min-width: 1200px) {
            .container {
                max-width: 1140px;
            }
        }
        
        @media screen and (min-width: 1300px) {
            .container {
                max-width: 1300px;
            }
        }
        
        @media screen and (max-width: 1024px) {
            .event-list-item {
                max-width: 47%;
                margin-bottom: 2rem;
            }
            header {
                background: #fff !important;
            }
            .navbar-brand .white-logo {
                display: none;
            }
            .navbar-brand .black-logo {
                display: inline;
            }
            .nav-expand {
                display: none;
            }
            .navbar-toggler svg {
                width: 18px;
            }
            .banner-bg-content {
                font-size: 130px;
            }
            .banner-front-content {
                font-size: 80px;
            }
        }
        
        @media screen and (max-width: 992px) {
            .event-list-item {
                max-width: 100%;
            }
            .grid-cat-item {
                width: 100%;
            }
            .contact-info,
            .lastest-posts,
            .application-product {
                width: 100%;
            }
            .banner-bg-content {
                font-size: 100px;
            }
            .banner-front-content {
                font-size: 60px;
            }
            .concert-features-item,
            .singer-list-item,
            .ticket-item {
                width: 47%;
            }
            .schedule-info-item>div,
            .schedule-info-item-reverse>div {
                width: 47%;
                margin: 0 1rem;
            }
            .sponsors-grid {
                grid-template-columns: auto auto;
            }
            .gallery-grid {
                grid-template-columns: auto auto;
            }
        }
        
        @media screen and (max-width: 576px) {
            header {
                padding: 0;
            }
            .navbar {
                padding: 0.5rem 0;
            }
            .navbar-collapse {
                width: 100vw;
            }
            .banner-bg-content {
                font-size: 60px;
            }
            .banner-front-content {
                font-size: 38px;
            }
            .banner-sub-content {
                font-size: 12px;
                margin: 2rem 0;
            }
            .banner-event-counter .count-num {
                font-size: 30px;
                margin-bottom: 1rem;
            }
            .banner-event-counter .count-title {
                font-size: 12px;
            }
            .day-count,
            .hour-count,
            .min-count {
                padding-right: 1rem;
                margin-right: 1rem;
            }
            .concert-features {
                margin-top: 3rem;
            }
            .concert-features-item,
            .singer-list-item,
            .ticket-item {
                width: 90%;
            }
            .newsletter .form-write input {
                margin-right: 0;
            }
            .my-btn-reverse {
                padding: 10px 15px;
            }
            .schedule-info-item,
            .schedule-info-item-reverse {
                margin: 4rem 0;
                padding: 10px;
            }
            .schedule-info-item>div,
            .schedule-info-item-reverse>div {
                width: 100%;
                margin: 0;
            }
            .schedule-info-item>div:last-of-type,
            .schedule-info-item-reverse>div:last-of-type {
                margin-top: 2rem;
            }
            .schedule-info-item-content {
                padding: 20px;
            }
            .schedule-info-item-content-host {
                font-size: 12px;
            }
            .sponsors-grid {
                grid-template-columns: auto;
            }
            .gallery-grid {
                grid-template-columns: auto;
            }
        }